#modalGraphs .modal-dialog{
    width: 80%;
    height:80%;
    margin-top: 5%;
}

.modal-row {
    /*height: 180px;*/
    margin: auto;
}

.modal-cell {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.top-cell {
    color: #2b2b2b;
    font-weight: bold;
}

.summary-container {
    padding: 5px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    border-bottom: 3px solid #8a8a8a;
    border-radius: 5%;
    width: 150px;
    height: 80px;
    margin: 5px;
}

.summary-header {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    color: #8f8f8f;
    font-weight: bold;
    height: 20px;
    text-align: left;
}

.summary-content {
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.sparkline-container {
    height: 180px;
    vertical-align: middle;
}

.single-plot {
    border-top: 1px solid #dadada;
    margin-top: 1%;
    height: 500px;
}

.sync-plots {
    border-top: 1px solid #dadada;
    height: 800px;
}

.card-summary-header {
    font-weight: bold;
}