html, body {
    margin: 5px;
    height: 100%;
}

div.not_first {
    margin-top: 3%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

button.m-bottom{
    margin-bottom: 10px;
}

#workflows_sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

#right-sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

#results_div {
    /* for the animation */
    transition: width 0.3s ease;
}

.collapsed_sidebar {
    /* hide it for small displays*/
    display: none;
}

.collapsed_right_sidebar {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsed_sidebar {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}

@media (min-width: 992px) {
    .collapsed_right_sidebar {
        display: block;
        /* same width as sidebar */
        margin-right: -25%;
    }
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}
#right-sidebar {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#workflows_content {
    /* for the animation */
    transition: width 0.3s ease;
}

.hide_button {
    display:none;
}

a {
    cursor: pointer;
}

/*
Table style elements
 */

th {
    text-align: center;
}

.table-cell {
    width: 100%;
    height: 30px;
}

.table-bar {
    background: rgba(146, 187, 252, .4);
    width: 100%;
    height: 100%;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.badge-qc {
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    background: #42f480;
}

.tooltip-qc {
    position: relative;
    display: inline-block;
}

.tooltip-qc .tooltip-qc-text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 9;
    /* Size and Position */
    width: 200px;
    padding: 5px;
    top: -5px;
    right: 110%;
    margin-right: 5px;
    /* Borders */
    border-radius: 6px;
    border: solid #555;
    /* Colors */
    background-color: #fff;
    color: #555;
    /* Text style */
    text-align: left;
    font-size: 12px;
}

.tooltip-qc .tooltip-qc-text::after {
    top: 18px;
    left: 101%;
    margin-top: -5px;
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #555;
    content: " ";
}

.tooltip-qc:hover .tooltip-qc-text {
    visibility: visible;
    opacity: 1;
}

.heading {
    border-bottom: 3px solid #000;
}

.sidebar-button {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    display:block;
    z-index: 1;
}

/* Affix functionality of side navbar */
.affix {
    top: 30px;
    bottom: 90px;
    min-height: 50px;
}