html, body {
    margin: 5px;
    height: 100%;
}

div.not_first {
    margin-top: 3%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

button.m-bottom{
    margin-bottom: 10px;
}

#workflows_sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

#results_div {
    /* for the animation */
    transition: width 0.3s ease;
}

.collapsed_sidebar {
    /* hide it for small displays*/
    display: none;
}

.collapsed_right_sidebar {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsed_sidebar {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}

@media (min-width: 992px) {
    .collapsed_right_sidebar {
        display: block;
        /* same width as sidebar */
        margin-right: -25%;
    }
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#workflows_content {
    /* for the animation */
    transition: width 0.3s ease;
}

.hide_button {
    display:none;
}

a {
    cursor: pointer;
}

/*
Workflow side bar elements
 */

/* Style for side navbar */
#workflow-header {
    font-size: 25px;
    color: grey;
    font-weight: bold;
    /*border-bottom: 1px solid grey;*/
}

/* Set line spacing for submenu itens */
.nav-tour > li > ul {
}

/* Style for all entries in side nav (including non links) */
.nav-tour > li {
    font-size: 18px;
    text-align: right;
}

.nav-tour a {
    color: grey;
}

.nav-tour > li > a {
    padding-bottom: 0;
}

 /*Hide submenus when inactive */
.nav-tour .nav {
    display: none;
}

/* Display submenus when active */
.nav-tour > .active > .nav {
    display: block;
}

/* Style for sub-menus when active */
.nav-tour > .active > .nav > li {
    font-size: 80%;
}

/* Add margin for items in active sub-menu that are not active */
.nav-tour > .active > .nav > li > a{
    margin-left: 10px;
    padding: 5px;
}

/* Style for active submenu itens */
.nav-tour > .active > .nav > .active > a,
.nav-tour > .active > .nav > .active > a:hover {
    font-weight: bold;
    border-right: 2px solid dimgrey;;
    margin-right: 0px;
}

.nav-tour > .active > .nav > .active > a:focus,
.nav-tour > .active > .nav > a:focus {
    background-color: transparent!important;
}

/* when hovering over inactive submensu */

.nav-tour > .active > a:focus {
    background-color: transparent;
}

/* Style for active itens */
.nav-tour > .active > a,
.nav-tour > .active > a:hover {
    font-weight: bold;
    border-right: 2px solid dimgrey;
}

/* when hovering over inactive menus */
.nav-tour > .active > .nav > li > a:hover,
.nav-tour > .active > .nav > li > a:focus,
.nav-tour > li > a:hover {
    border-right: 1px solid dimgrey;
    background-color: transparent;
}

/*
Table style elements
 */

th {
    text-align: center;
}

.table-cell {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: transparent;
}


.table-bar {
    position: absolute;
    background: rgba(100, 100, 100, 0.2);
    height: 100%;
    z-index: 1;
}

.table-bar-text {
    width: 100%;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
    color: black;
}

.badge-qc {
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}

.tooltip-qc {
    position: relative;
    display: inline-block;
}

.tooltip-qc .tooltip-qc-text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 9;
    /* Size and Position */
    width: 300px;
    padding: 5px;
    top: -5px;
    right: 110%;
    margin-right: 5px;
    /* Borders */
    border-radius: 6px;
    border: 2px solid #555;
    /* Colors */
    background-color: #fff;
    color: #555;
    /* Text style */
    text-align: left;
    font-size: 12px;
}

.tooltip-qc .tooltip-qc-text::after {
    top: 18px;
    left: 100.5%;
    margin-top: -5px;
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #555;
    content: " ";
}

.tooltip-qc:hover .tooltip-qc-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-qc-text li {
    list-style-type: none;
    line-height: 20px;
}

.tooltip-qc-text ul {
    margin: 0 0;
}

.tooltip-qc-text ul {
    padding-left: 10px;
    font-size: 10px;
}

.loader {
    border: 3px solid #aaa3a3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.heading {
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
}

.sidebar-button {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    display:block;
    z-index: 1;
}

/* Affix functionality of side navbar */
.affix-top {
    width: 100%;
}

.affix {
    width: 16.6666667%;
    padding-right: 33px;
    top: 30px;
    bottom: 90px;
    min-height: 50px;
}

.button_side {
    cursor: pointer;
}


.slider-track-high {
    background: green;
}

.slider-track-low {
    background: red;
}

.slider-selection {
    background: yellow;
}
