html, body {
    margin: 5px;
    height: 100%;
}

div.not_first {
    margin-top: 3%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

button.m-bottom{
    margin-bottom: 10px;
}

#workflows_sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsed_sidebar {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsed_sidebar {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#workflows_content {
    /* for the animation */
    transition: width 0.3s ease;
}

.hide_button {
    display:none;
}

a {
    cursor: pointer;
}

/*
Table style elements
 */

th {
    text-align: center;
}

.badge-qc {
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    background: #42f480;
}

.table-cell {
    width: 100%;
    height: 30px;
}

.table-bar {
    background: rgba(146, 187, 252, .3);
    width: 100%;
    height: 100%;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}