<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet"
          href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-dt/css/jquery.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-autofill-dt/css/autoFill.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-buttons-dt/css/buttons.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet"
          href="./bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet"
          href="bower_components/webui-popover/dist/jquery.webui-popover.min.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css">

    <link rel="stylesheet" href="css/sidebar_style.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/modal_graphs.css">
    <link rel="stylesheet" href="css/innuendo_home.css">
    <link rel="stylesheet" href="css/nav.css">

    <link rel="stylesheet"
          href="./bower_components/components-font-awesome/css/font-awesome.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reports</title>

</head>
<body id="outer" ng-app="reportsApp" ng-controller="reportsController">

    <!-- Modals region -->
    <div ng-include="'./html_templates/modals/modal_alert.html'"></div>
    <div ng-include="'./html_templates/modals/phyloviz_modal.html'"></div>
    <div ng-include="'./html_templates/modals/custom_graphs.html'"></div>

    <div id="body_container" style="display:none;" class="wrapper">

        <div ng-include="'./html_templates/right_sidebar.html'"></div>

        <div class="col-md-12" id="results_div">

            <div id="dragNdropdiv" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="leaveDrop(event)">

                <div id="homeInnuendo" ng-include="'./html_templates/innuendo_home.html'"></div>
                <!-- Data region -->
                <div class="row" id="row-main" style="display:none;" scroll-spy>

                    <nav class="navbar  navbar-fixed-top navbar-default report-nav">
                        <div class="container-fluid" style="padding: 0">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#reportNav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse report-nav-inner" id="reportNav">
                                <ul class="nav navbar-nav">
                                    <li><a id="sidebar-button" class="report-nav-btn sidebar-button"><i class="fa fa-bars fa-2x"></i></a></li>
                                    <li><a onclick="goHome()" class="report-nav-btn"><i class="fa fa-home fa-2x"></i></a></li>
                                    <li class="nav-project">
                                        <div class="nav-text-header">Projects <span id="navProjectCounter" class="label label-success nav-counter"></span></div>
                                        <div class="nav-project-picker">
                                            <select id="navProjectPicker" class="selectpicker" multiple data-actions-box="true" data-width="100%"
                                                    title="Select projects" data-live-search="true" data-style="btn-default" data-selected-text-format="count > 3">
                                            </select>
                                        </div>
                                    </li>
                                    <li class="nav-project">
                                        <div class="nav-text-header">Samples <span id="navSampleCounter" class="label label-success nav-counter"></span></div>
                                        <div class="nav-project-picker">
                                            <select id="navSamplePicker" class="selectpicker" multiple data-actions-box="true"
                                                    title="Select samples" data-live-search="true" data-style="btn-default" data-selected-text-format="count > 3" data-width="100%">
                                            </select>
                                        </div>
                                        <div class="nav-project-picker" style="width: 200px">
                                            <div id="navTimeFilterRange" class="input-daterange input-group">
                                                <input id="navMinTimeFilter" type="text" class="input-sm form-control" name="start">
                                                <span class="input-group-addon">to</span>
                                                <input id="navMaxTimeFilter" type="text" class="input-sm form-control" name="end">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-resubmit">
                                        <button id="resubmitProjects" class="btn btn-success">Re-submit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <!-- Workflow sidebar -->
                    <div class="col-md-2 sidebar" id="workflows_sidebar">
                        <ul class="nav nav-stacked nav-tour" data-spy="affix" data-offset-top="0">
                            <li id="workflow-header">Workflows</li>
                            <li spy="{{workflow[0]}}" ng-repeat="workflow in workflows">
                                <a href="#{{workflow[0]}}">{{workflow[0]}}</a>
                                <ul class="nav">
                                    <li spy="{{chart[1]}}" ng-repeat="chart in workflowCharts[workflow[0]]">
                                        <a href="#{{chart[1]}}">{{chart[0]}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-10" id="workflows_content">
                        <span style="float: left;">
                            <button class="btn btn-xs btn-default toggle_sidebar hide_button">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </span>

                        <!-- Metadata content: tables and graphs -->
                        <div ng-include="'./html_templates/metadata.html'"></div>
                        <!-- INNUca content: tables and graphs -->
                        <div ng-include="'./html_templates/innuca.html'"></div>
                        <!-- Prokka content: tables and graphs -->
                        <div ng-include="'./html_templates/prokka.html'"></div>
                        <!-- chewBBACA content: tables and graphs -->
                        <div ng-include="'./html_templates/chewbbaca.html'"></div>
                        <!-- Pathotyping content: tables and graphs -->
                        <div ng-include="'./html_templates/pathotyping.html'"></div>

                    </div>

                </div>

            </div>
        </div>

        <div class="overlay"></div>

    </div>

    <img id="waiting_gif" src="./images/waiting_gif.gif" class="centered" width="200" height="120" style="display:none;">

    <!--<script src="bower_components/popper.js/dist/umd/popper.min.js"></script>-->
    <script src="bower_components/webui-popover/dist/jquery.webui-popover.min.js"></script>
    <script src="bower_components/mustache.js/mustache.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="bower_components/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="bower_components/datatables.net-autofill/js/dataTables.autoFill.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="bower_components/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="bower_components/highcharts/highstock.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/xrange.js"></script>
    <script src="bower_components/highcharts/modules/histogram-bellcurve.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/highcharts/modules/offline-exporting.js"></script>
    <script src="bower_components/highcharts/modules/boost.js"></script>
    <script src="bower_components/highcharts/modules/no-data-to-display.js"></script>
    <script src="bower_components/highcharts/modules/solid-gauge.js"></script>
    <script src="config.js"></script>
    <script src="js/charts/charts.js"></script>
    <script src="js/charts/assembly.js"></script>
    <script src="js/charts/fastqc.js"></script>
    <script src="js/charts/utils.js"></script>
    <script src="js/charts/sample_specific.js"></script>
    <script src="js/tables/process_chewbbaca.js"></script>
    <script src="js/tables/process_innuca.js"></script>
    <script src="js/tables/process_pathotyping.js"></script>
    <script src="js/tables/process_prokka.js"></script>
    <script src="js/tables/process_metadata.js"></script>
    <script src="js/tables/tables.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/reports.js"></script>
    <script src="js/dragNdrop.js"></script>
    <script src="js/requests.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/inits.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/sidebar.js"></script>

</body>
</html>