<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./bower_components/highcharts/highcharts.js"></script>
    <script src="./bower_components/highcharts/highcharts-more.js"></script>
    <script src="./bower_components/highcharts/modules/exporting.js"></script>
    <link rel="stylesheet"
          href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-dt/css/jquery.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-autofill-dt/css/autoFill.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-buttons-dt/css/buttons.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/bootstrap-select/dist/css/bootstrap-select.css">

    <link rel="stylesheet"
          href="./bower_components/components-font-awesome/css/font-awesome.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reports</title>

</head>
<body ng-app="reportsApp" ng-controller="reportsController">

    <div id="body_container" style="display:none;">
        <div class="row">
            <div class="jumbotron">
                <div class="container" style="text-align: center;">
                    <h1>Reports Page</h1>
                    <p>Reports app from the Oneida Platform</p>
                    <h4>Select a Project or a set of strains assign to that
                        project</h4>

                    <div>
                        <select class="selectpicker" multiple
                                title="Select one or more projects">
                            <option>Project 1</option>
                            <option>Project 2</option>
                            <option>Project 3</option>
                        </select>

                        <select class="selectpicker" multiple
                                title="Select one or more strains">
                            <option>Load entire Project</option>
                            <option>Strain 1</option>
                            <option>Strain 2</option>
                        </select>
                    </div>
                    <div style="margin-top: 10px;">
                        <button class="btn btn-info">Submit</button>
                    </div>
                    <div style="margin-top: 10px;">
                        <p><b>Workflow: </b>{{workflow_name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="row-main">
            <div class="col-md-2" id="workflows_sidebar">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-primary">
                      <h4>Workflows
                          <span style="float: right;">
                              <button
                                      class="btn btn-xs btn-default toggle_sidebar">
                                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                              </button>
                          </span>
                      </h4>
                  </li>
                    <a class="list-group-item workflow_li"
                       ng-repeat="workflow in workflows"
                       ng-click="switch_workflow(workflow[0])">{{workflow[0]}}
                        <span
                                class="badge badge-primary badge-pill">{{workflow[1]
                            }}</span>
                    </a>
                </ul>

            </div>

            <div class="col-md-8" id="workflows_content">
                <span style="float: left;">
                  <button
                          class="btn btn-xs btn-default toggle_sidebar hide_button">
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
              </span>
                <div class="container">
                    <button type="button" class="btn btn-sm btn-info m-bottom"
                            data-toggle="collapse"
                            data-target="#table1_div"><i class="fa fa-compress" aria-hidden="true"></i>
                    </button>
                    <b style="display:inline-block">{{table_name}}</b>
                    <div id="table1_div" class="collapse in">
                        <table id="master_table" class="display" cellspacing="0"
                               style="height:100%;width:100%;">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in table_headers_up" rowspan="{{header[1]}}"
                                        colspan="{{header[2]}}">{{header[0]}}</th>
                                </tr>
                                <tr>
                                    <th ng-repeat="header in table_headers_down">{{header}}</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th ng-repeat="header in table_footer">{{header}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="container not_first">
                    <button type="button" class="btn btn-sm btn-info m-bottom"
                            data-toggle="collapse"
                            data-target="#spades_graph_container">
                        <i class="fa fa-compress" aria-hidden="true"></i>
                    </button>
                    <b style="display:inline-block">{{graph1_name}}</b>
                    <div id="spades_graph_container" class="collapse in" style="width:100%;">
                        <div id="spades_1" class="collapse in" style="width:100%;
                        height:400px;"></div>
                        <div id="spades_2" class="collapse in" style="width:100%;
                        height:400px;"></div>
                    </div>
                </div>
                <div class="container not_first">
                    <button type="button" class="btn btn-sm btn-info m-bottom"
                        data-toggle="collapse"
                        data-target="#container2"><i class="fa fa-compress"
                                            aria-hidden="true"></i>
                    </button>
                    <b style="display:inline-block">{{graph2_name}}</b>
                    <!--<div id="container2"
                         class="collapse in"
                         style="width:100%; height:400px;"></div>-->
                </div>
            </div>

            <div class="col-md-2" id="more_content">

            </div>
        </div>

    </div>

    <img id="waiting_gif" src="./images/waiting_gif.gif" class="centered"
    width="200" height="120">

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script
            src="./bower_components/datatables.net-autofill/js/dataTables.autoFill.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.html5.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.print.js"></script>
    <script
            src="./bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="./js/reports.js"></script>
    <script src="./js/charts.js"></script>
    <script src="./js/requests.js"></script>
    <script src="./js/table.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css">

</body>
</html>