<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./bower_components/highcharts/highstock.js"></script>
    <script src="./bower_components/highcharts/highcharts-more.js"></script>
    <script src="./bower_components/highcharts/modules/histogram-bellcurve.js"></script>
    <script src="./bower_components/highcharts/modules/exporting.js"></script>

    <link rel="stylesheet"
          href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-dt/css/jquery.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-autofill-dt/css/autoFill.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/datatables.net-buttons-dt/css/buttons.dataTables.css">
    <link rel="stylesheet"
          href="./bower_components/bootstrap-select/dist/css/bootstrap-select.css">

    <link rel="stylesheet"
          href="./bower_components/components-font-awesome/css/font-awesome.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reports</title>

</head>
<body ng-app="reportsApp" ng-controller="reportsController">

    <!-- Modals region -->
    <div ng-include="'./html_templates/modals/modal_alert.html'"></div>
    <div ng-include="'./html_templates/modals/phyloviz_modal.html'"></div>

    <div id="body_container" style="display:none;">

        <div class="col-md-12" id="results_div">

            <a id="sidebar-button" href="#" class="btn btn-primary btn-md sidebar-button" role="button" data-placement="left"><i class="fa fa-bars" aria-hidden="true"></i></a>

            <div id="dragNdropdiv" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="leaveDrop(event)">

                <!-- Jumbotron region -->
                <div class="row">
                    <div class="jumbotron">
                        <div class="container" style="text-align: center;">
                            <h1>Reports Page</h1>
                            <p>Reports app from the Oneida Platform</p>
                            <h4>Select a Project</h4>

                            <div>
                                <select id="project_select" class="selectpicker"
                                        title="Select one Project" data-live-search="true" data-style="btn-default">
                                </select>
                            </div>
                            <div style="margin-top: 10px;">
                                <div class="row">
                                    <button id="submit_project" style="display:inline-block;"class="btn btn-info">Submit</button>
                                    <button id="reset_project" style="display:none;" class="btn btn-danger">Reset</button>
                                </div>
                            </div>
                            <!--<div id="current_workflow" style="margin-top: 10px;display:none;">
                                <p><b>Workflow: </b>{{workflow_name}}</p>
                            </div>-->
                        </div>
                    </div>
                </div>

                <!-- Data region -->
                <div class="row" id="row-main" style="display:none;">
                    <!-- Workflow sidebar -->
                    <div class="col-md-2" id="workflows_sidebar">
                        <div data-spy="affix" data-offset-top="400">
                            <ul class="list-group">
                              <li class="list-group-item list-group-item-primary">
                                  <h4>Workflows
                                      <span style="float: right;">
                                          <button
                                                  class="btn btn-xs btn-default toggle_sidebar">
                                              <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                          </button>
                                      </span>
                                  </h4>
                              </li>
                                <!-- populate ul with all available workflows -->
                              <div ng-repeat="workflow in workflows">

                                      <!--href="#{{workflow[0]}}_heading"-->
                                      <a class="list-group-item workflow_li"
                                         ng-click="switch_workflow(workflow[0])" data-toggle="collapse" href="#{{workflow[0]}}_charts">{{workflow[0]}}
                                          <span
                                                  class="badge badge-primary badge-pill">{{workflow[1]
                                }}</span>
                                          <!--<span style="float:right;margin-right:5px;z-index:1000;" data-toggle="collapse" href="#{{workflow[0]}}_charts">
                                              <i id="{{workflow[0]}}_c" data-toggle="collapse" href="#{{workflow[0]}}_charts" class="fa fa-bar-chart" aria-hidden="true"></i>
                                          </span>-->
                                      </a>

                                  <div id="{{workflow[0]}}_charts" class="panel-collapse collapse">
                                      <ul class="list-group">
                                          <li ng-repeat="chart in workflow_charts[workflow[0]]" class="list-group-item">
                                              <a href="{{chart[1]}}">{{chart[0]}}</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-10" id="workflows_content">
                        <span style="float: left;">
                          <button
                                  class="btn btn-xs btn-default toggle_sidebar hide_button">
                              <i class="fa fa-arrow-right" aria-hidden="true"></i>
                          </button>
                      </span>

                        <!-- INNUca content: tables and graphs -->
                        <div ng-include="'./html_templates/innuca.html'"></div>
                        <!-- Prokka content: tables and graphs -->
                        <div ng-include="'./html_templates/prokka.html'"></div>
                        <!-- chewBBACA content: tables and graphs -->
                        <div ng-include="'./html_templates/chewbbaca.html'"></div>
                        <!-- Pathotyping content: tables and graphs -->
                        <div ng-include="'./html_templates/pathotyping.html'"></div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2 collapsed_right_sidebar" id="right-sidebar">
            <div style="width:100%;height: 100%;" ng-include="'./html_templates/right_sidebar.html'"></div>
        </div>

    </div>

    <img id="waiting_gif" src="./images/waiting_gif.gif" class="centered"
    width="200" height="120" style="display:none;">

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script
            src="./bower_components/datatables.net-autofill/js/dataTables.autoFill.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.html5.js"></script>
    <script
            src="./bower_components/datatables.net-buttons/js/buttons.print.js"></script>
    <script
            src="./bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="./js/charts/spades.js"></script>
    <script src="./js/charts/utils.js"></script>
    <script src="js/charts/charts.js"></script>
    <script src="js/tables/process_chewbbaca.js"></script>
    <script src="js/tables/process_innuca.js"></script>
    <script src="js/tables/process_pathotyping.js"></script>
    <script src="js/tables/process_prokka.js"></script>
    <script src="js/tables/tables.js"></script>
    <script src="./js/reports.js"></script>
    <script src="./js/dragNdrop.js"></script>
    <script src="./js/requests.js"></script>
    <script src="./js/table.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css">

</body>
</html>