
<!-- chewBBACA content: tables and graphs -->
<div class="container not_first">
    <h1 class="heading" id="chewBBACA_heading">chewBBACA</h1>
    <button type="button" class="btn btn-sm btn-info m-bottom"
            data-toggle="collapse"
            data-target="#table2_div"><i class="fa fa-compress" aria-hidden="true"></i>
    </button>
    <b style="display:inline-block">{{table_name}}</b>
    <button id="phyloviz_button" class="btn btn-sm btn-warning" style="float:right;display:inline-block;">
        <i class="fa" data-toggle="tooltip" data-placement="top" title="Send data to PHYLOViZ Online">
            Send to PHYLOViZ Online
        </i>
    </button>
    <div id="table2_div" class="collapse in" style="overflow-x: hidden;">
        <table id="master_table_chewbbaca" class="display" cellspacing="0"
               style="height:100%;width:100%;">
            <thead>
            <tr>
                <th ng-repeat="header in table_headers_up" rowspan="{{header[1]}}"
                    colspan="{{header[2]}}">{{header[0]}}</th>
            </tr>
            <tr>
                <th ng-repeat="header in table_headers_down">{{header}}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th ng-repeat="header in table_footer">{{header}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>