
<!-- Prokka content: tables and graphs -->
<div class="container not_first">
    <h1 class="heading" id="Prokka_heading">Prokka</h1>
    <button type="button" class="btn btn-sm btn-info m-bottom"
            data-toggle="collapse"
            data-target="#table3_div"><i class="fa fa-compress" aria-hidden="true"></i>
    </button>
    <b style="display:inline-block">{{table_name}}</b>
    <div id="table3_div" class="collapse in" style="overflow-x: hidden;">
        <table id="master_table_prokka" class="display" cellspacing="0"
               style="height:100%;width:100%;">
            <thead>
            <tr>
                <th ng-repeat="header in table_headers_prokka">{{header}}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th ng-repeat="header in table_headers_prokka">{{header}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>